body{
    /*background:gray;*/
    color: rgb(49, 48, 48);
    font-family: 'PT Sans Caption', sans-serif;
}
.navbar-header a{
    text-decoration: none;
}
.row div {
    background: rgb(196, 194, 194); 
    /*width:100%;*/
    padding:auto;
    /* margin:0 30px 0 30px; */
    border:2px solid rgb(151, 151, 151);
  }
  /*.section{
      background: rgb(196, 194, 194);
  }*/
  /*.div1{
      margin:0 100px 0 100px;
  }*/